body{
    margin: 0;
}

#box{
    background: url("https://wallpaperaccess.com/full/84353.jpg");
    background-position: 100%;
    height: 100vh;
    background-size: cover;
}

#ball{
 height:3vh;
    width:3vh;
    border-radius:5vh;
    background-color:rgb(224, 41, 41);
    box-shadow: 2px 2px 2px black;
    position:fixed;
    /* left:49%;
    top:3%; */

}


#rod1{
    height:3vh;
    width:20rem;
    background-color:rgb(131, 192, 26);
    border-radius:2vh;
    /* margin-left:85vh;
    margin-top:-2vh; */
    position:fixed;
    top:1%;
    left:43%;
    text-align:center;
    font-weight: 900;
    font-size: larger;
}

@media(width<600px){
    #rod1{
        width: 10rem;
    }
}

.parent{
    display: flex;
    height: 100%;
    justify-content: center;
}

#scoreofplayer{
    position: fixed;
    font-size:80px;
    color:aqua;
    opacity:0.5; 
    text-shadow: 2px 2px black;
    /* align-items: center; */
    top: 40%;
}



#rod2{
    height:3vh;
    width:20rem;
    background-color:rgb(148, 18, 160);
    border-radius:2vh;
    left:42%;
    /* position:absolute; */
    position:fixed;
    bottom:1%;
    text-align:center;
    font-weight: 900;
    font-size: larger;
    /* color: white; */
}

@media(width<600px){
    #rod2{
        width: 10rem;
    }
}