/* #box img{
    height:97vh;
    width:206vh;
    position:relative;
} */

body{
    margin: 0;
}

#box{
    background: url("https://wallpaperaccess.com/full/84353.jpg");
    height: 100vh;
}

#ball{
 height:3vh;
    width:3vh;
    border-radius:5vh;
    background-color:rgb(224, 41, 41);
    box-shadow: 2px 2px 2px black;
    position:fixed;
    /* left:49%;
    top:3%; */

}
#rod1{
    height:2vh;
    width:35vh;
    background-color:rgb(131, 192, 26);
    border-radius:2vh;
    /* margin-left:85vh;
    margin-top:-2vh; */
    position:fixed;
    top:3%;
    left:43%;
    text-align:center;
}

.parent{
    display: flex;
    height: 100%;
    justify-content: center;
}

#scoreofplayer{
    position: fixed;
    font-size:80px;
    color:aqua;
    opacity:0.3; 
    top: 50%;
}



#rod2{
    height:2vh;
    width:35vh;
    background-color:rgb(148, 18, 160);
    border-radius:2vh;
    left:42%;
    /* position:absolute; */
    position:fixed;
    bottom:3%;
    text-align:center;
}